# Виртуальные окружения
# Игнорируем стандартные имена venv (например, venv, .venv)
venv/
.venv/
env/
.env/

# Скомпилированные файлы Python
*.pyc
__pycache__/

# Другие сгенерированные файлы
# Файлы, созданные при выполнении тестов или сборки
dist/
build/
*.egg-info/
.coverage

# Файлы, которые могут содержать секреты или специфические для IDE настройки
# Часто игнорируется, но может быть полезен, если вы используете эту IDE
.vscode/ 
.idea/ 

# Журналы и временные файлы
*.log
tmp/